body {
  font-family: Montserrat, Helvetica, sans-serif;
  letter-spacing: 1.5;
  color: rgb(67, 71, 77);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  max-width: 320px;
  min-width: 1158px;
}

img {
  display: block;
}

.container {
  /* max-width: 1128px;
  padding: 0 15px; */
  min-width: 320px;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  text-decoration: none;
  color: #000000;
}

/* !===header */
.header {
  max-width: 320px;
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: #f2f6f5;
  margin: 0 auto;
}

.header-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header-text {
  font-size: 12px;
  opacity: 0.7;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* margin-bottom: 8px; */
}

.header-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: rgb(47, 77, 57);
}

/* !=== main */
.photo-section {
  max-width: 320px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0 auto;
}

.photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.photo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 165px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.header-photo {
  border: 1px solid violet;
  overflow: hidden;
}

.photo-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: rgb(47, 77, 57);
  text-align: center;
}

.photo-dsc {
  font-size: 14px;
  opacity: 0.9;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

/* !===main-skills-menu */
.skills-menu {
  max-width: 320px;
  background-color: #f2f6f5;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0 auto;
}

.contacts-container {
  
}

.skills-contacts {
}

.skills-title {
}

.skills-link {
    display: block;
    margin: 0;
}

/* !===footer */
/* .footer {
    background-color: #000000;
    max-width: 320px;
    padding-top: 48px;
    padding-bottom: 48px;
    margin: 0 auto;
}

.study-container {
} */

/* .footer-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-item {
    width: 288px;
}

.study-main-title {
    color: #f2f6f5;
}

.study-title {
    color: #FFFFFF;
    opacity: 0.7;
    font-weight: 500;
} */

@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
  }

  .header-container {
    flex-direction: row;
    gap: 48px;
    justify-content: flex-start;
    align-items: center;
  }

  .photo-section {
    max-width: 768px;
  }

  .photo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 72px;
  }

  .photo-name {
    text-align: left;
  }

  .skills-menu {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .header {
    max-width: 1158px;
  }

  .header-title {
    font-size: 24px;
  }

  .header-container {
    gap: 120px;
  }

  .photo-section {
    max-width: 1158px;
  }

  .photo-text-wrapper {
    width: 500px;
  }

  .skills-menu {
    max-width: 1158px;
  }
}
